body {
    margin: 0;
}

.container {

    display: flex;
    justify-content: space-around;
    background: #1B244A;
    width: 600px;
    height: 385px;


}

.playing_team  {

    color: #EEEEEE;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;

    margin-bottom: 20px;

    text-align: center;


}


.scoreboard {

    background: #080001;
    border-radius: 5px;
    margin-top:20px;
    margin-bottom: 10px;
    width: 170px;
    height: 140px;

    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 157px;
    
    color: #F94F6D;
    text-align: center;
}

.add_points {
    margin-top: 10px;

    width: 53px;
    height: 45px;

    box-sizing: border-box;

    background: #1B244A;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    border: 2px solid #9AABD8;
    border-radius: 5px;

    text-align: center;
    color: #9AABD8;
}